*.db
*.log
*.gif
target/
bin/
node_modules
!mocha
!chai
Module4_CleanCode/node_modules/
Module5_CleanCode/node_modules/
Module6_Webdriver/node_modules/
Module6_Protractor/node_modules/
Module7_PageObjects/node_modules
Module8_WebdriverAdvanced/node_modules
Module9_FrameworkBasics/node_modules/
Module9_FrameworkBasics/debug.log